.conver {
    z-index: 100;
    position: absolute;
    width: 100%;
    height: 750px;
    top: 0;
    opacity: .6;
    background-color: white;
}

.conContent {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -150px;
    margin-top: -150px;
    width: 300px;
    height: 300px;
    background-size: cover;
    background: url(assets/images/loding.gif) center center no-repeat;
    border-radius: 50%;
}
.mainPage {
    width: 100%;
    background-color: #F2F6FC;
    min-height: 840px;
    height: 100%;
}
.hostContainer, .hostRecover, .histoyView {
    margin: 35px auto;
    width: 95%;
    min-width: 1200px;
    background-color: white;
    border-radius: 5px;
    overflow: hidden;
}
.mainPage .hostRecover {
    height: 650px;
    overflow-y: scroll;
    margin-top: 36px;
}
.manage {
    height: 40px;
    margin-left:20px;
    padding-top: 15px;
}
.hostTab {
    margin-left:20px;
}
.hostTab .header {
    width: 100%;
    height: 40px;
    background-color: #FFF;
}
.hostItem{
    background-color:#FFF;
    width: 70%;
    border-bottom: 1px solid #C3CAD9;
    height: 52px;
}
table tbody:nth-child(1) {
    background-color:#F7F9FC;
}
.hostItem:hover {
    background-color:#EAF3FD;
}
.hostItem td {
    padding: 0 5px;
    font-size: 13px;
}
.btn.btn-default.detailBtn ,.btn.btn-default.updateBtn, .btn.btn-default.deleteBtn, .btn.btn-default.cancelDelBtn{
    padding: 2px 9px;
    font-size: 10px;
    background-color: #F2F6FC;
    box-sizing: border-box;
    border: 1px solid #C3CAD9;
    color: #7B8091;
}
.btn.btn-default.detailBtn:hover {
    border-color: rgba(0, 0, 255,.5);
    color:rgba(0, 0, 255,.6);
}
.btn.btn-default.updateBtn:hover {
    border-color: rgba(255, 109, 28, 0.5);
    color:rgba(255, 109, 28,.6);
}
.btn.btn-default.deleteBtn:hover {
    border-color: rgba(255, 0, 18, 0.5);
    color:rgba(255, 0, 18,.6);
}
.btn.btn-default.cancelDelBtn:hover {
    border-color: rgba(54, 125, 54, 0.63);
    color:rgba(54, 125, 54, 0.7);
}
.hostTab .statusView {
    display: inline-block;
    width: 6px;
    height: 6px;
    box-sizing: border-box;
    border-radius:50% ;
    background-color: #00ff00;
    vertical-align: middle;
    margin-right: 3px;
}
.hostContainer .hostTitle {
    width: 100%;
    height: 50px;
    line-height: 50px;
}

.CreatehostSingle, .CreatehostBatch, .updatehostBatch, .UpdatehostBatch{
    float: left;
    margin-left: 20px;
    font-size: 13px;
}
.hostTitle .searchBtn {
    float: right;
    width: 400px;
    margin-right: 20px;
}
.hostTitle .searchBtn input {
    margin-top: 8px;
    width: 300px;
}
.btn.btn-primary.singleBtn, .btn.btn-success.BatchBtn, .btn .btn-warning .BatchBtn, .btn.btn-info.BatchBtn {
    font-size: 13px;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}
.btn.btn-primary.singleBtn i {
    display: inline-block;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}
.btn.btn-primary.singleBtn:hover {
    -webkit-text-shadow: 0 0 3px rgba(255, 255, 255,.6);
    -moz-text-shadow: 0 0 3px rgba(255, 255, 255,.6);
    -ms-text-shadow: 0 0 3px rgba(255, 255, 255,.6);
    -o-text-shadow: 0 0 3px rgba(255, 255, 255,.6);
    text-shadow: 0 0 3px rgba(255, 255, 255,.6);
}
.btn.btn-primary.singleBtn:hover i {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}
.btn.btn-default.goBtn {
    width: 40px;
    height: 34px;
}
.searchBtn .searchText {
    height: 34px;
    padding-left: 5px;
    margin-right: -3px;
    border-radius: 5px;
    line-height: 34px;
    color: #262626;
}
.searchBtn input::-webkit-input-placeholder {
    color: #D6D0CA !important; /* WebKit browsers */
}
.searchBtn input::-moz-placeholder {
    color: #D6D0CA !important; /* Mozilla Firefox 19+ */
}
.searchBtn input:-ms-input-placeholder {
    color: #D6D0CA !important; /* Internet Explorer 10+ */
}
.checkCreateHost {
    display: block;
    width: 400px;
    height: 40px;
    margin: 0 auto;
    line-height: 40px;
    border-bottom: 1px solid #cccccc;
}
.modal-content.CreatehostSingleView {
    margin: 300px auto;
}
.hostId {
    text-align: center;
    height: 40px;
    line-height: 40px;
}
.hostId input {
    display: inline-block;
    height: 30px;
    width: 200px;
    border-radius: 5px;
    line-height: 40px;
    margin-left: 3px;
    color: #262626;
}
.hostId input::-webkit-input-placeholder {
    color: #D6D0CA !important; /* WebKit browsers */
}
.hostId input::-moz-placeholder {
    color: #D6D0CA !important; /* Mozilla Firefox 19+ */
}
.hostId input:-ms-input-placeholder {
    color: #D6D0CA !important; /* Internet Explorer 10+ */
}
.hostId .hostIdInput {
    display: inline-block;
    height: 40px;
    padding-top: 21px;
}
.hostId .hostIdInput input {
    line-height: 30px;
}
.btn.btn-default.checkHostBtn {
    padding: 4px 12px;
    margin-left: -1px;
    margin-bottom: 1px;
}
.handle {
    text-align: center;
}
.btn.btn-warning.BatchBtn {
    font-size: 13px;
}
.btn-group.handleBtn {
    padding: 5px 0;
}
.hostInfoContent {
    min-height: 320px;
    margin-top: 10px;
}
.hostCheckConver, .createSureconver{
    position: fixed;
    background-color: rgba(251, 255, 231,.1);
    width: 900px;
    height: 373px;
    top: 40px;
    left: 0;
    z-index: 100;
    border-radius: 5px;
    font-size: 20px;
    text-align: center;
    line-height: 373px;
}
.createSureconver {
    height: 400px;
}
.createhostResult {
    text-align: center;
    margin-top: 20px;
    font-size: 15px;
}
.hostInfoRequestResView {
    position: fixed;
    width: 300px;
    height: 100px;
    z-index: 100000;
    left: 50%;
    top: 50%;
    margin-left: -100px;
    margin-top: -50px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    line-height: 100px;
    -webkit-box-shadow: 0 0 15px #ffffff;
    -moz-box-shadow: 0 0 15px #ffffff;
    box-shadow: 0 0 15px #ffffff;
    text-align: center;
    font-size: 15px;
    color: #FFF;
    display: none;
}
.mainPage .pagination {
    height: 60px;
    line-height: 40px;
    float: right;
    margin: 10px 65px 0 0;
}
.hostBanner {
    width: 100%;
    min-width: 1200px;
    height: 60px;
    background-color: #FFF;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-border-bottom: 1px solid #cccccc;
    -moz-border-bottom: 1px solid #cccccc;
    -ms-border-bottom: 1px solid #cccccc;
    -o-border-bottom: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;

}
.hostBanner .hostTitleBox {
    padding: 5px 0 0 40px;
    font-size: 18px;
    font-weight: bolder;
}
.hostBanner .hostSelectBox1 {
    background-color: #FFF;
    margin-top: 8px;
}
.hostBanner .hostSelectBox, .hostBanner .hostSelectBox1{
    padding: 5px 0 0 40px;
    color: #8c8c8c;
    font-size: 15px;
}
.hostBanner .hostSelectBox div, .hostBanner .hostSelectBox1 div{
    display: inline-block;
    cursor: pointer;
    padding: 0 5px;
    position: relative;
    bottom: -2px;

}
.selectType {
    background-color: #F2F6FC;
    -webkit-border:1px solid #cccccc;
    -moz-border:1px solid #cccccc;
    -ms-border:1px solid #cccccc;
    -o-border:1px solid #cccccc;
    border:1px solid #cccccc;
    -webkit-border-bottom:1px solid #F2F6FC;
    -moz-border-bottom:1px solid #F2F6FC;
    -ms-border-bottom:1px solid #F2F6FC;
    -o-border-bottom:1px solid #F2F6FC;
    border-bottom:1px solid #F2F6FC;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color: #5078E1;
}
.fa.fa-rss.uhostIcon {
    margin-right: 3px;
}
.hostIdInput .checkHostRegion {
    height: 30px;
    width: 80px;
    float: left;
}
.histoyView .hostTitle {
    margin-top: 80px;
    background-color: #FFFFFF;
    -webkit-border-bottom:1px solid #D6D0CA;
    -moz-border-bottom:1px solid #D6D0CA;
    -ms-border-bottom:1px solid #D6D0CA;
    -o-border-bottom:1px solid #D6D0CA;
    -khtml-border-bottom:1px solid #D6D0CA;
    border-bottom:1px solid #D6D0CA;
    height: 50px;
    line-height: 50px;
    padding-left: 20px;
}
.histoyView .hostTitle select{
    height: 25px;
    width: 80px;
    vertical-align: middle;
}



