.conver {
    z-index: 100;
    position: absolute;
    width: 100%;
    height: 750px;
    top: 0;
    opacity: .6;
    background-color: white;
}

.conContent {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -150px;
    margin-top: -150px;
    width: 300px;
    height: 300px;
    background-size: cover;
    background: url(assets/images/loding.gif) center center no-repeat;
    border-radius: 50%;
}

.mainPage {
    width: 100%;
    background-color: #F2F6FC;
    min-height: 840px;
    height: 100%;
    padding-top: 20px;
}

.hostContainer {
    width: 95%;
    min-width: 1200px;
    background-color: white;
    border-radius: 5px;
    overflow: hidden;
    margin: 0 auto;
    padding: 0 10px 20px 10px;
}

.hostContainer .title {
    color: #3B3B3B;
    font-size: 18px;
    -webkit-border-bottom: 1px solid #DDDDDD;
    -moz-border-bottom: 1px solid #DDDDDD;
    -ms-border-bottom: 1px solid #DDDDDD;
    -o-border-bottom: 1px solid #DDDDDD;
    -khtml-border-bottom: 1px solid #DDDDDD;
    border-bottom: 1px solid #DDDDDD;
    height: 60px;
    line-height: 60px;
}

.btn.btn-default.pull-right.singleBtn {
    margin: 14px 5px 0 0;
    font-size: 13px;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

.btn.btn-default.pull-right.singleBtn i {
    display: inline-block;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

.btn.btn-default.pull-right.singleBtn:hover {
    -webkit-text-shadow: 0 0 3px rgba(255, 255, 255, .6);
    -moz-text-shadow: 0 0 3px rgba(255, 255, 255, .6);
    -ms-text-shadow: 0 0 3px rgba(255, 255, 255, .6);
    -o-text-shadow: 0 0 3px rgba(255, 255, 255, .6);
    text-shadow: 0 0 3px rgba(255, 255, 255, .6);
}

.btn.btn-default.pull-right.singleBtn:hover i {
    -webkit-transform: rotateZ(-90deg);
    -moz-transform: rotateZ(-90deg);
    -ms-transform: rotateZ(-90deg);
    -o-transform: rotateZ(-90deg);
    transform: rotateZ(-90deg);
}

.hostTab {
    margin-top: 20px;
}

.hostTab table .hostItem td {
    padding: 15px 0;
    -webkit-border-bottom:1px solid rgba(95, 95, 95, 0.05);
    -moz-border-bottom:1px solid rgba(95, 95, 95, 0.05);
    -ms-border-bottom:1px solid rgba(95, 95, 95, 0.05);
    -o-border-bottom:1px solid rgba(95, 95, 95, 0.05);
    -khtml-border-bottom:1px solid rgba(95, 95, 95, 0.05);
    border-bottom:1px solid rgba(95, 95, 95, 0.05);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.hostTab .header {
    width: 100%;
    height: 40px;
    background-color: #FFF;
    -webkit-border-bottom: 1px solid #DDDDDD;
    -moz-border-bottom: 1px solid #DDDDDD;
    -ms-border-bottom: 1px solid #DDDDDD;
    -o-border-bottom: 1px solid #DDDDDD;
    -khtml-border-bottom: 1px solid #DDDDDD;
    border-bottom: 1px solid #DDDDDD;
}

.modal-content.CreatehostSingleView {
    margin-top: 100px;
}

.modal-content.CreatehostSingleView .addTitle {
    background-color: #00B38B;
    background: -webkit-linear-gradient(#F0AD4E, #00B38B); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(#F0AD4E, #00B38B); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(#F0AD4E, #00B38B); /* Firefox 3.6 - 15 */
    background: linear-gradient(#F0AD4E, #00B38B); /* 标准的语法 */
    color: #FFF;
    height: 40px;
    line-height: 40px;
    padding-left: 20px;
}

.modal-content.CreatehostSingleView .addContent {
    width: 100%;
    padding: 10px 20px;
    font-size: 13px;
    min-height: 600px;
}
.centerView {
    margin: 0 auto;
    width: 90%;
}
.addContentTitle {
    margin-top: 10px;
    height: 60px;
}
.addContentGroup {
    margin-top: 10px;
}
.addContentTitle input {
    display: inline-block;
    width: 100%;
    height: 30px;
    margin-top: 10px;
    color: #3B3B3B;
    text-align: left;
    padding-left: 5px;
}
.centerView .wanging {
    color: red;
    vertical-align: middle;
}
.handle {
    height: 60px;
    width: 100%;
    padding-left: 330px;
}
.btn-group.handleBtn {
    padding: 5px 0;
}

.hostInfoRequestResView {
    position: fixed;
    width: 300px;
    height: 100px;
    z-index: 100000;
    left: 50%;
    top: 50%;
    margin-left: -100px;
    margin-top: -50px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    line-height: 100px;
    -webkit-box-shadow: 0 0 15px #ffffff;
    -moz-box-shadow: 0 0 15px #ffffff;
    box-shadow: 0 0 15px #ffffff;
    text-align: center;
    font-size: 15px;
    color: #FFF;
    display: none;
}

.btn.btn-default.detailBtn, .btn.btn-default.deleteBtn, .btn.btn-default.consentBtn{
    padding: 2px 9px;
    font-size: 10px;
    background-color: #F2F6FC;
    box-sizing: border-box;
    border: 1px solid #C3CAD9;
    color: #7B8091;
}

.btn.btn-default.detailBtn:hover {
    border-color: rgba(255, 109, 28, 0.5);
    color:rgba(255, 109, 28,.6);
}

.btn.btn-default.deleteBtn:hover {
    border-color: rgba(255, 0, 18, 0.5);
    color:rgba(255, 0, 18,.6);
}

.btn.btn-default.consentBtn:hover {
    border-color: rgba(89, 255, 42, 0.5);
    color:rgba(89, 255, 42, 0.6);
}

.modal.fade.detailView .closeBtn {
    position: absolute;
    width: 25px;
    height: 25px;
    left: -10px;
    top: -10px;
    cursor: pointer;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    border-radius:50%;
    -webkit-border:2px solid #00B38B;
    -moz-border:2px solid #00B38B;
    -ms-border:2px solid #00B38B;
    -o-border:2px solid #00B38B;
    -khtml-border:2px solid #00B38B;
    border:2px solid #00B38B;
    text-align: center;
    line-height: 25px;
    box-sizing: content-box;
    -webkit-box-shadow:  0 0 5px #00B38B;
    -moz-box-shadow:  0 0 5px #00B38B;
    box-shadow:  0 0 5px #00B38B;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    background-color: #FFF;
}
.modal.fade.detailView .closeBtn:hover {
    -webkit-box-shadow:  0 0 15px #00B38B;
    -moz-box-shadow:  0 0 15px #00B38B;
    box-shadow:  0 0 15px #00B38B;
    -webkit-transform: rotateZ(90deg);
    -moz-transform: rotateZ(90deg);
    -ms-transform: rotateZ(90deg);
    -o-transform: rotateZ(90deg);
    transform: rotateZ(90deg);
}

.pagination {
    height: 60px;
    line-height: 40px;
    float: right;
    margin: 10px 65px 0 0;
}

.hostTab {
    min-height: 600px;
}

.imp {
    vertical-align: middle;
    color: red;
    padding-right: 3px;
}

#changeInstanceName, #changeTitle {
    float: none;
    text-align: left;
    padding-left: 5px;
    color: #0f0f0f;
    -webkit-border:1px solid #737373;
    -moz-border:1px solid #737373;
    -ms-border:1px solid #737373;
    -o-border:1px solid #737373;
    -khtml-border:1px solid #737373;
    border:1px solid #737373;
    display: inline-block;
    width: 517px;
    height: 30px;
}