.conver {
    z-index: 100;
    position: absolute;
    width: 100%;
    height: 750px;
    top: 0;
    opacity: .6;
    background-color: white;
}

.conContent {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -150px;
    margin-top: -150px;
    width: 300px;
    height: 300px;
    background-size: cover;
    background: url(assets/images/loding.gif) center center no-repeat;
    border-radius: 50%;
}

.mainPage {
    width: 100%;
    background-color: #F2F6FC;
    min-height: 840px;
    height: 100%;
    padding-top: 20px;
    position: absolute;
    overflow: hidden;
}

.orderMainContainer {
    width: 200%;
    position: absolute;
    min-height: 750px;
    min-width: 3000px;
    left: 0;
    top: 10px;
}

.hostContainer {
    width: 45%;
    position: absolute;
    min-width: 1200px;
    background-color: white;
    border-radius: 5px;
    overflow: hidden;
    left: 40px;
    top: 20px;
    padding: 0 10px 20px 10px;
}

.mainPage .orderContainer {
    position: relative;
    left: 51%;
    width: 45%;
    min-width: 1200px;
    border-radius: 5px;
    overflow: hidden;
    top: 20px;
    padding: 0 10px 20px 10px;
    background-color: white;
    display: none;
}

.hostContainer .title, .orderContainer .title {
    color: #3B3B3B;
    font-size: 18px;
    -webkit-border-bottom: 1px solid #DDDDDD;
    -moz-border-bottom: 1px solid #DDDDDD;
    -ms-border-bottom: 1px solid #DDDDDD;
    -o-border-bottom: 1px solid #DDDDDD;
    -khtml-border-bottom: 1px solid #DDDDDD;
    border-bottom: 1px solid #DDDDDD;
    height: 60px;
    line-height: 60px;
}

.orderContainer .title .backBtn {
    float: left;
    margin-left: 5px;
    font-size: 13px;
}

.orderContainer .title .backBtn:hover {
    text-decoration: none;
    color: #0f0f0f;
}

.orderContainer .title {
    text-align: center;
}

.btn.btn-default.pull-right.singleBtn {
    margin: 14px 5px 0 0;
    font-size: 13px;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

.btn.btn-default.pull-right.singleBtn i {
    display: inline-block;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

.btn.btn-default.pull-right.singleBtn:hover {
    -webkit-text-shadow: 0 0 3px rgba(255, 255, 255, .6);
    -moz-text-shadow: 0 0 3px rgba(255, 255, 255, .6);
    -ms-text-shadow: 0 0 3px rgba(255, 255, 255, .6);
    -o-text-shadow: 0 0 3px rgba(255, 255, 255, .6);
    text-shadow: 0 0 3px rgba(255, 255, 255, .6);
}

.btn.btn-default.pull-right.singleBtn:hover i {
    -webkit-transform: rotateZ(-90deg);
    -moz-transform: rotateZ(-90deg);
    -ms-transform: rotateZ(-90deg);
    -o-transform: rotateZ(-90deg);
    transform: rotateZ(-90deg);
}

.hostTab {
    margin-top: 20px;
}

.hostTab table .hostItem td {
    padding: 15px 0;
    -webkit-border-bottom:1px solid rgba(95, 95, 95, 0.05);
    -moz-border-bottom:1px solid rgba(95, 95, 95, 0.05);
    -ms-border-bottom:1px solid rgba(95, 95, 95, 0.05);
    -o-border-bottom:1px solid rgba(95, 95, 95, 0.05);
    -khtml-border-bottom:1px solid rgba(95, 95, 95, 0.05);
    border-bottom:1px solid rgba(95, 95, 95, 0.05);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.hostTab .header {
    width: 100%;
    height: 40px;
    background-color: #FFF;
    -webkit-border-bottom: 1px solid #DDDDDD;
    -moz-border-bottom: 1px solid #DDDDDD;
    -ms-border-bottom: 1px solid #DDDDDD;
    -o-border-bottom: 1px solid #DDDDDD;
    -khtml-border-bottom: 1px solid #DDDDDD;
    border-bottom: 1px solid #DDDDDD;
}

.modal-content.CreatehostSingleView select {
    display: inline-block;
    background-color: #fff;
    height: 30px;
}

.modal-content.CreatehostSingleView select:hover {
    cursor: pointer;
    background-color: #e6e6e6;
}

.modal-content.CreatehostSingleView .addTitle {
    background-color: #00B38B;
    background: -webkit-linear-gradient(#0a0921, #00B38B); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(#0a0921, #00B38B); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(#0a0921, #00B38B); /* Firefox 3.6 - 15 */
    background: linear-gradient(#0a0921, #009688); /* 标准的语法 */
    color: #FFF;
    height: 40px;
    line-height: 40px;
    padding-left: 20px;
}

.modal-content.CreatehostSingleView .addContent {
    width: 100%;
    padding: 10px 20px;
    font-size: 13px;
    min-height: 500px;
}
.centerView {
    margin: 0 auto;
    width: 90%;
}
.addContentTitle {
    margin-top: 10px;
    height: 60px;
}
.addContentGroup {
    margin-top: 10px;
}
.addContentTitle input {
    display: inline-block;
    width: 100%;
    height: 30px;
    margin-top: 10px;
    color: #3B3B3B;
    text-align: left;
    padding-left: 5px;
}
.centerView .wanging {
    color: red;
    vertical-align: middle;
}
.handle {
    height: 60px;
    width: 100%;
    padding-left: 330px;
}
.btn-group.handleBtn {
    padding: 5px 0;
}

.hostInfoRequestResView {
    position: fixed;
    width: 300px;
    height: 100px;
    z-index: 100000;
    left: 50%;
    top: 50%;
    margin-left: -100px;
    margin-top: -50px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    line-height: 100px;
    -webkit-box-shadow: 0 0 15px #ffffff;
    -moz-box-shadow: 0 0 15px #ffffff;
    box-shadow: 0 0 15px #ffffff;
    text-align: center;
    font-size: 15px;
    color: #FFF;
    display: none;
}

.btn.btn-default.detailBtn {
    padding: 2px 9px;
    font-size: 10px;
    background-color: #F2F6FC;
    box-sizing: border-box;
    border: 1px solid #C3CAD9;
    color: #7B8091;
}

.btn.btn-default.detailBtn:hover {
    border-color: rgba(255, 109, 28, 0.5);
    color:rgba(255, 109, 28,.6);
}

.modal.fade.detailView .closeBtn {
    position: absolute;
    width: 25px;
    height: 25px;
    left: -10px;
    top: -10px;
    cursor: pointer;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    border-radius:50%;
    -webkit-border:2px solid #00B38B;
    -moz-border:2px solid #00B38B;
    -ms-border:2px solid #00B38B;
    -o-border:2px solid #00B38B;
    -khtml-border:2px solid #00B38B;
    border:2px solid #00B38B;
    text-align: center;
    line-height: 25px;
    box-sizing: content-box;
    -webkit-box-shadow:  0 0 5px #00B38B;
    -moz-box-shadow:  0 0 5px #00B38B;
    box-shadow:  0 0 5px #00B38B;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    background-color: #FFF;
}
.modal.fade.detailView .closeBtn:hover {
    -webkit-box-shadow:  0 0 15px #00B38B;
    -moz-box-shadow:  0 0 15px #00B38B;
    box-shadow:  0 0 15px #00B38B;
    -webkit-transform: rotateZ(90deg);
    -moz-transform: rotateZ(90deg);
    -ms-transform: rotateZ(90deg);
    -o-transform: rotateZ(90deg);
    transform: rotateZ(90deg);
}

.pagination {
    height: 60px;
    line-height: 40px;
    float: right;
    margin: 10px 65px 0 0;
}

.hostTab {
    min-height: 600px;
}

.btn-group.createOrder {
    float: right;
    margin: 12px 80px 0 0;

}

.orderBox {
    margin: 10px auto;
    width: 75%;
}

.orderBox select, .orderBox input {
    display: inline-block;
    width: 80%;
    height: 30px;
    background-color: #fff;
}

.orderBox span {
    color: #0f0f0f;
    font-weight:500 ;
}

.orderBox input {
    float: none;
    color: #0f0f0f;
    -webkit-border:1px solid #a6a6a6;
    -moz-border:1px solid #a6a6a6;
    -ms-border:1px solid #a6a6a6;
    -o-border:1px solid #a6a6a6;
    -khtml-border:1px solid #a6a6a6;
    border:1px solid #a6a6a6;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    text-align: left;
    padding-left: 5px;
}

.orderBox input.app_file_input, .orderBox input.sql_file_input {
    line-height: 0px;
    padding-top: 5px;
}

.orderBox .orderItem {
    margin-bottom: 15px;
    font-size: 12px;
}
.orderBox .orderItem i {
    color: red;
}

.dropdown-menu>li>span {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
}

.dropdown-menu>li>span:hover {
    color: #262626;
    text-decoration: none;
    background-color: #f5f5f5;
    cursor: pointer;
}

.hostItem:hover {
    background-color:#EAF3FD !important;
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
    font-size: 12px;
    color: #D6D0CA !important; /* WebKit browsers */
}
input::-moz-placeholder, textarea::-moz-placeholder {
    font-size: 12px;
    color: #D6D0CA !important; /* Mozilla Firefox 19+ */
}
input:-ms-input-placeholder, textarea:-ms-input-placeholder {
    font-size: 12px;
    color: #D6D0CA !important; /* Internet Explorer 10+ */
}

#downloadAppFile, #downloadSqlFile {
    height: 20px;
    line-height: 20px;
    font-size: 10px;
    padding: 0;
    width: 45px;
    text-align: center;
    margin-left: 5px;
}
